
[Unit]
Description=Get temp, humid, and humiditydeficit data & Post to the monitor
After=rc-local.service
[Service]
ExecStart=/usr/bin/python -m /home/pi/hypha/wc
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run/hypha.pid
[Install]
WantedBy=multi-user.target

