[Unit]
Description=Get temp, humid, and humiditydeficit data & Post to the monitor
After=rc-local.service
[Service]
ExecStart=/home/pi/SCRIPT/hypha/wc.bin
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run/hypha.pid
[Install]
WantedBy=multi-user.target

